/* Fonts WorkSans */

@font-face {
    font-family: 'WorkSansRegular';
    font-style: normal;
    src: url('../assets/fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansLight';
    font-style: normal;
    src: url('../assets/fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansSemiBold';
    font-style: normal;
    src: url('../assets/fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansBold';
    font-style: normal;
    src: url('../assets/fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansExtraBold';
    font-style: normal;
    src: url('../assets/fonts/WorkSans/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansItalic';
    font-style: normal;
    src: url('../assets/fonts/WorkSans/WorkSans-Italic.ttf') format('truetype');
}